{% extends "blog/base.html" %}

{% load static %}

{% block title %}Karamcanix Music - {{ article.media_name }}{% endblock %}

{% block content %}
<div class="w3-col l8 s12">
	<div class="w3-card-4 w3-margin w3-blue-grey">
		<img src="{% static 'images/tracking2.png' %}" alt="Playlist" style="width:100%">
		<div class="w3-container">
			<h2>{{ article.title }}</h2>
			<p>{{ article.short_desc }}</p>
			<h4><i>{{ article.media_name }} released: {{ article.pub_date|date:"jS F Y" }}</i></h4>
			<p>{{ article.article_text }}</p>
			<p>{{ article.embed_text |safe }}</p>
		</div>
	</div>
	<hr>
	<div class="w3-container w3-margin">
		<div class="w3-row w3-right">
			<a href="{% url 'home' %}" class="w3-button w3-blue-gray w3-link w3-padding-large w3-margin-bottom"><i class="fa-solid fa-house"></i> Home</a>
		</div>
	</div>
</div>
{% endblock %}